.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &-container {
        width: 100%;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-identity {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name {
            width: 100%;
        }
    }

    .Dropdown {
        &-root {
            background-color: #3B3B3B;
            width: 50%;
            border-radius: 10px;
        }

        &-arrow {
            border-color: white transparent transparent;
        }

        &-control {
            border-radius: 10px;
            background-color: initial;
        }

        &-placeholder {
            color: white;
        }
    }

    input {
        width: 50%;
        margin-bottom: 20px;
        border-radius: 5px;
        line-height: 1.5rem;
    }

    label {
        display: block;
        margin-top: 1rem;
    }

    &-button_color {
        width: 50%;
        margin: 2rem 0;
        background-color: #708610;
        color: white;
        text-decoration: none;
        border-radius: 15px;
        padding: 1rem;
    }

    .react-datepicker-wrapper {
        width: 50%;

        input {
            text-align: center;
        }
    }

}