.Header {

    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    &-img-container {
        height: 80px;
        width: 80px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    p {
        font-size: 2rem;
    }

}