.ModalOpen {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .9;
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;

    .Message {

        font-size: 5rem;
        font-weight: bold;
    }
}

.CloseModal {
    position: absolute;
    background-color: #88A513;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 5rem;
    top: 5rem;


}

.ModalClose {
    display: none;
}