.Table {
    width: 100%;

    thead tr {
        :hover {
            cursor: pointer;

        }

        th {
            border: solid 2px white;
            padding: 0;
            width: 12%
        }

        // svg {
        //     margin-left: 1rem;
        // }
    }

    tbody tr td {
        border-bottom: solid 1px white;
    }
}